<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="NavinDBhudiya_CatalogGuard::audit"
             title="CatalogGuard AI"
             translate="title"
             module="NavinDBhudiya_CatalogGuard"
             sortOrder="51"
             parent="Magento_Catalog::catalog"
             action="catalogguard/audit/index"
             resource="NavinDBhudiya_CatalogGuard::audit"/>
        <add id="NavinDBhudiya_CatalogGuard::review"
             title="Review Fixes"
             translate="title"
             module="NavinDBhudiya_CatalogGuard"
             sortOrder="52"
             parent="Magento_Catalog::catalog"
             action="catalogguard/review/index"
             resource="NavinDBhudiya_CatalogGuard::review"/>
    </menu>
</config>
